<form id="signup-form-signup" class="text-center mt-5" method="POST" action="">
  <img class="mb-4" src="/images/logo.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-5 font-weight-normal">Heureux de vous nous ayez choisis !</h1>
  {{> messages}}
  <hr>
  <div class="signup-form-inline">
  {{!-- Lastname --}}
    <div class="signup-group-input-left form-group form-group-signup text-left">
      <label for="signup-input-lastname">Nom</label>
      <input type="text" name="lastname" id="signup-input-lastname" class="form-control" value="{{#if lastname}}{{lastname}}{{/if}}" required autofocus>
    </div>
  {{!-- Firstname --}}
    <div class="signup-group-input-right form-group form-group-signup text-left">
      <label for="signup-input-firstname">Prénom</label>
      <input type="text" name="firstname" id="signup-input-firstname" class="form-control" value="{{#if firstname}}{{firstname}}{{/if}}" required>
    </div>
  </div>
  <div class="signup-form-inline">
  {{!-- Birthdate --}}
    <div class="signup-group-input-left form-group form-group-signup text-left">
      <label for="signup-input-birthdate">Date de naissance</label>
      <input type="date" name="birthdate" id="signup-input-birthdate" class="form-control" value="{{#if birthdate}}{{birthdate}}{{/if}}" required>
    </div>
  {{!-- Gender --}}
    <div class="signup-group-input-right form-group form-group-signup text-left">
      <label for="signup-input-gender">Civilité</label>
      <select name="gender" id="signup-input-gender" class="custom-select form-control" required>
        <option>Sélectionez une option</option>
        <option value="woman">Madame</option>
        <option value="man">Monsieur</option>
      </select>
    </div>
  </div>
  <div class="signup-form-inline">
  {{!-- Email --}}
    <div class="signup-group-input-left form-group form-group-signup text-left">
      <label for="signup-input-email">Email</label>
      <input type="email" name="email" id="signup-input-email" class="form-control" value="{{#if email}}{{email}}{{/if}}" required>   
    </div>
  {{!-- Confirmation --}}
    <div class="signup-group-input-right form-group form-group-signup text-left">
      <label for="signup-input-email-confirmation">Confirmez l'adresse email</label>
      <input type="email" name="emailConfirmation" id="signup-input-email-confirmation" class="form-control" value="{{#if emailConfirmation}}{{emailConfirmation}}{{/if}}" required>
    </div>
  </div>
  <div class="signup-form-inline">
  {{!-- Password --}}
    <div class="signup-group-input-left form-group text-left">
      <label for="signup-input-password">Mot de passe</label>
      <input type="password" name="password" id="signup-input-password" class="form-control" required>   
    </div>
  {{!-- Confirmation --}}
    <div class="signup-group-input-right form-group text-left">
      <label for="signup-input-password-confirmation">Confirmez le mot de passe</label>
      <input type="password" name="passwordConfirmation" id="signup-input-password-confirmation" class="form-control" required>
    </div>
  </div>
  <hr class="mb-4">
  <a name="Se connecter" id="signin" class="btn btn-lg" href="/" role="button">Se connecter</a>
  <button type="submit" id="signup-btn-signup" class="btn btn-success btn-lg">S'inscrire</button>
</form>
